include header

.container
  h1 Відновлення пароля
  if error
    p(style="color:red")= error
  if message
    p(style="color:green")= message
  form(method="POST")
    div
        input(type="email", name="email", placeholder="Ваш email", required)
    div
        button(type="submit") Надіслати посилання