include header

.container
    
    h1 Login
    if error
      p(style="color:red")= error

    p 
      a(href="/forgot-password") Забули пароль?

    form(method="POST" action="/login")
      div
        input(type="text" name="email" placeholder="Email" required)
      div
        input(type="password" name="password" placeholder="Пароль" required)
      div
        button(type="submit") Увійти
