include header

.container
    
    h1 Main

    each item in articles
        div
            if (email)
                a(href=`/articles/${item.url}/edit/`) Edit
        h5
            a(href=`/articles/${item.url}`)= item.title

        div
            span= item.createdAt
            | &nbsp;
            span views: #{item.views}