include header

.container
  h1 Введіть новий пароль
  if error
    p(style="color:red")= error
  form(method="POST")
    input(type="password", name="password", placeholder="Новий пароль", required)
    button(type="submit") Змінити пароль