extends layout.pug
block content
    h2 Guests

    if guests.length
      ul
        each guest in guests
          li(style="margin-bottom: 10px;")
            strong= guest.username
            div= guest.message
            small= new Date(guest.time).toLocaleString('uk-UA')
    else
      div No messages