include header

.container
  h1= __('Enter new password')
  if error
    p(style="color:red")= error
  form(method="POST")
    input(type="password", name="password", placeholder=__('New password'), required)
    button(type="submit")= __('Change password')
