include header

.container 
  h1 Registration 
  if error 
    p(style="color:red")= error 
  
  form(method="POST" action="/register")
    div 
      input(type="email" name="email" placeholder="Email" required)
    div 
      input(type="text" name="username" placeholder="Name" required)
    div 
      input(type="password" name="password" placeholder="Password" required)

    div(style="margin-top: 10px; margin-bottom: 10px;")
      p Choose a role:
      div
        label
          input(type="radio" name="role" value="user" checked)
          |  User
      div
        label
          input(type="radio" name="role" value="admin")
          |  Admin
    div 
      button(type="submit") Send